{% extends "master.html" %}
{% load static %}
{% block content %}
<head>
<link href="mypro.css" rel="stylesheet"/>
</head>


<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
16 CHANNEL 1.5T HDX MRI SYSTEM</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Radiology Services |  16 CHANNEL 1.5T HDX MRI SYSTEM</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/16_channel.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Eazypatho has introduced its latest Signa 1.5T HDxt MRI system, the most advanced next
generation MRI facility in Hyderabad and Banglore.
Eazypathol MRI system acts much faster than any other MRI facility, thereby halving
the time required for any procedure. The image clarity is also far superior, all
-owing far more accurate diagnosis - even in most complicated cases. The HDxt 
technology features significant advances in acquisition, gradients and the hu-
man interface.The HDxt MRI features a detachable patient table, actively shi-
elded magnet,actively shielded magnetic-field gradients, phased array digital 
radio frequency electronics, high-density single head neck spine coils. Inbu-
ilt whole body coil, and 'EXCITE' (Expanding applications with multi-channel
 Imaging Technology) to manage the flow of the data through the MRI system.
 MRI system is capable to all cases related with Brain/whole spine,
diffusion Tensor Imaging, FMRI(Brain mapping for motor/vision/speech),
knee with cartigram, small joints (ankle, wrist, shoulder, elbow),breast,
abdomen, Peripheral Angio, Renal Angio, Enhanced MRCP,FMRI neck(Sleep Apnoea),
spectroscopy, whole body MRI, Cardiac MRI(Cardiac Viability),Diffusion, MRI 
Cochlear Imaging Unprecedented power, clarity, speed and convenience, all the
unique features of it with twice the power of previous generation MRI's - and 
over four times the power of best open MRI, it takes the HDxt less time to scan,
even with its greatest clarity, which makes the whole experience more comfortable and convenient.
In cases where the entire spine (or) body needs to be scanned, conventional systems
accomplish this part-by-part making it extremely time-consuming. 
</h4>
</p>
</div>
{% endblock content %}