<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pad-0 pad-rt-10">
                  	<div class="welcome-content white">
                    	<div style="float:left; width:90%">
                        <h2>Welcome to Eazypatho Medical Diagnostics Limited </h2>
                        <p>Eazypatho has been chosen as a renowned service provider from patient side towards 
                            best quality medical diagnostics and served to the community at its best since last two decades. 
                            It has presence in Hyderabad and Bangalore with 11 branches catering to the diagnostics needs of ~ 2,00,000 
                            patients per year. We at Eazypatho believe in best patient care and keeping long term relation with patients and families 
                            regarding their diagnostics need. Apart from Diagnostics services Eazypatho also promotes Wellness; Specialty Clinic and Home 
                            based health care services. Eazypatho is one of the preferred diagnostic service providers for corporate clients on segments
                            such as pre-employment Health check-up, Annual health check-up drug testing services. </p>

                       <!-- <a class="red" href="aboutus.php">View more</a>-->
                    	</div>
                        <div style="width:10%; float:left">
                            <div style="height:80%; min-height:80%; position:absolute; width:2px; background:#7fdbdd; margin-left:35px;">
                            </div>
                        </div>
                        <div style="clear:both"></div>
            	</div>
                </div>