{% load static %}


        <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
         <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
            <li data-target="#demo" data-slide-to="6"></li>
            <li data-target="#demo" data-slide-to="7"></li>
        </ul>


        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active" id="first">
               <img class="img-responsive" src="{% static '1.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>Quality and Reliable Diagnostic services over 20 Years</h3>

                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="second">
                <img class="img-responsive" src="{% static '2.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>Quality and Reliable Diagnostic services over 20 Years</h3>

                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>
                </div>
            <div class="carousel-item" id="third">
                <img class="img-responsive" src="{% static '3.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>2 NABL Accredited Labs
                        <br> 10 Collection Centers
                        <br> Across 2 Cities.</h3>
                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>

            </div>
            <div class="carousel-item" id="fourth">
                <img class="img-responsive"  src="{% static '4.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>
                        <br> ISO 9001:2015 Certified</h3>
                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="first">
                <img class="img-responsive" src="{% static '5.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>Touched more than a Million patients in last 5 years</h3>
                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>

            </div>
            <div class="carousel-item" id="first">
                <img class="img-responsive" src="{% static '6.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>2 Central Labs
                        <br>10 collection centres</h3>
                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="first">
                <img class="img-responsive" src="{% static '8.jpg' %}" alt="" width="1500" height="480">
                <div class="carousel-caption">
                    <h3>
                        <br>Trusted by 2000 Clinicians &amp; going strong</h3>
                    <div class="caption-btn-holder">
                        <!--<a href="#" class="blue">view more</a>-->
                    </div>
                </div>
            </div>
            <div class="carousel-item " id="first">
                <img class="img-responsive" src="{% static 'a33.jpg' %}" alt="" width="1500" height="480">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>