{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
CLINICAL BIOCHEMISTRY</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Laboratory Services  | Clinical Biochemistry</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/Biochemistry.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p><h4>
Clinical Biochemistry publishes articles relating to clinical chemistry,
 molecular biology and genetics, therapeutic drug monitoring and toxicology,
 laboratory immunology and laboratory medicine in general, with the focus 
 on analytical and clinical investigation of laboratory tests in humans
 used for diagnosis, prognosis, treatment and therapy, and monitoring 
 of disease.<br/>
Laboratory Medicine Division The Clinical Biochemistry Laboratory provides
 an extensive range of testing services to all medical center departments
 and clinics, other hospitals, HMOs, the army, individuals, and research 
 institutions. The lab also provides testing for research laboratories 
 and skilled researchers at the Medical Center.
Lab research studies are conducted by hospital staff and Tel Aviv
 University master’s degree students in collaboration with laboratory
 management. The lab also develops and perfects unique laboratory testing
 methods.<br/>
<b>The lab is equipped with:</b></br>
<ul type="none">
	<li>1.Two fully automated random access biochemistry analyzers COBAS 400 INTEGRA approved by IVD and FDA.</li>
	<li>2.LIS is in compliance with 21 CFR Part 11.</li>
	<li>3.E411 - fully automated random access hormone and tumor marker analyzer based on latest Electro Chemiluminiscence technology.</li>
	<li>4.HPLC machine from Bio-Rad for Glycated Haemoglobin.(HBA1c). This is the state of the art technology for accurate estimation of Glycated haemoglobin and for screening for Abnormal haemoglobins.</li>
	<li>5.Use of all closed channel equipments thereby ensuring use of standard reagents and quality of results.
</li>

</ul>
</h4>
</p>
</div>
{% endblock content %}