{% extends 'master.html' %}
{% load static %}

{% block content %}

    <br>
    <br>
    <div class="center-text">
            	<p>At Eazypatho, good employees always had been its strength and the reason for its success. Recognizing this, the company gives
                    great importance to provide a work culture that allows its members the space to learn, innovate, experiment and grow.
                    Browse through the following openings and drop in a mail with the opening name in the subject line at&nbsp;
                    <a href="mailto:hrhyd@eazypathot.in">hr@eazypatho.in</a></p>
                <h4>Available Positions:</h4>
               <div class="col-md-12">
                   <table class="table table-bordered table-striped table-hover" id="co">
<thead  class="thead-dark">
  <tr>
       <th scope="col">S.No</th>
      <th scope="col">Position</th>
      <th scope="col">Experience</th>
      <th scope="col">Location</th>
      <th scope="col">No. Of Openings</th>
  </tr>
        </thead>
       <tbody>
  <tr>
    <td>1</td>
    <td>Cardiology Technician</td>
    <td>1-3 years</td>
    <td>Banjara hills &amp; Tarnaka - Hyderabad</td>
    <td>3</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Front Office Executive</td>
    <td>1-3 years</td>
    <td>Banjara hills, Madhapur, Kharkhana - Hyderabad</td>
    <td>3</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Ultrasound / Typist / Data entry - Radiology</td>
    <td>1-3 years</td>
    <td>Banjara Hills, Madhapur, Tarnaka - Hyderabad</td>
    <td>2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>X-Ray Technician</td>
    <td>1-3 years</td>
    <td>Madhapur - Hyderabad</td>
    <td>1</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Mobile Phlebotomist</td>
    <td>1-3 years</td>
    <td>Hyderabad &amp; Bangalore</td>
    <td>5</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Station Phlebotomist</td>
    <td>1-3 years</td>
    <td>Hyderabad</td>
    <td>2</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Staff Nurse</td>
    <td>1-3 years</td>
    <td>Hyderabad &amp; Bangalore</td>
    <td>2</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Business Development Executive</td>
    <td>1-3 years</td>
    <td>Hyderabad &amp; Bangalore</td>
    <td>5</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Logistics</td>
    <td>1-3 years</td>
    <td>Hyderabad</td>
    <td>2</td>
  </tr>

</tbody></table>


            	</div>


                <div class="clearfix"></div>
            </div>


{% endblock content %}