{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
DEXA BONE DENSITOMETRY(BDM)</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Radiology Services| Dexa Bone Densitometry </h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/Dexa_Bone.jpg' %}" height="250px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
A Bone Densitometry (DEXA) is a bone density test. This test can determine 
if you have Osteoporosis or are at risk of Osteoporosis. A bone density test 
uses special X-rays to measure how much calcium and other bone minerals are 
packed into a segment of bone.
The offered Ultrasound Bone Densitometer CM-300 is widely used in clinics 
and hospitals to check the amount of bone mineral in convenient manner.
 This densitometer is immensely applauded for its accurate results, non
 corrosive surface and power efficiency. It is precisely manufactured 
 using premium grade components. Moreover, we provide this Ultrasound
 Bone Densitometer CM-300 at reasonable rates to our esteemed clients.</br>
<b><I>
The Bone Densitometry at Elbit helps to diagnose:</I></b><br/>
<ul type="none">
<li>Low Bone Density </li>
<li>Height Loss</li>
<li>Pulmonary Dysfunctions</li>
<li>Fractures (vertebral, fore arm etc)</li>
</ul></br>
The Lunar Prodigy system is vital for the evaluation of major bone diseases
afflicting women and the aged. It employs a highly focused X-Ray beam to 
scan the bones most likely to e affected by Osteoporosis. It not only can
scan the thoracic and Lumbar Vertebrae, head & Neck of Femur and Wrist, 
to accurately assess the bone density but also can scan the whole body,
to measure both, the total bone density as well as the total body 
composition of fat.
</h4>
</p>
</div>
{% endblock content %}