{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
DIGITAL X-RAYS
</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Radiology Services | Digital X-Ray</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/Digital_X-ray.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
An X-ray is a form of electromagnetic radiation, just like visible light. 
The x-ray machine sends individual x-ray particles, called photons.
These particles pass through the body and a computer or special film
is used to record the images that are created.
Instead of X-ray film, digital radiography uses a digital image capture device.
This gives advantages of immediate image preview and availability; elimination 
of costly film processing steps; a wider dynamic range, which makes it more
forgiving for over- and under-exposure; as well as the ability to apply special 
image processing techniques that enhance overall display quality of the image.
A first in Hyderabad, this equipment provides for all types of X-Rays 
including special examinations such as Barium Studies, Intravenuious 
Pyleography as well as invasive investigations like Peripheral
Angiograms and Trans-Hepatic Cholangiograms. The digital X-Ray 
not only helps the doctor by providing superior image quality 
but also ensures the patient receives minimum radiation dose.
Radiography is carried out using X-rays or Gamma rays. Radiographic
 testing (RT) is one of the most reliable and widely used NDT methods.
 RT works on the principles of differential absorption of radiation,
 and is used to detect internal flaws in castings, forgings, welds and 
 composite materials.
 Digital radiography (DR) is a form of X-ray imaging, where digital X-ray 
 sensors are used instead of traditional photographic film. Advantages include 
 time efficiency through bypassing chemical processing and the ability to 
 digitally transfer and enhance images. Also less radiation can be used to
 produce an image of similar contrast to conventional radiography.

Instead of X-ray film, digital radiography uses a digital image capturing device. 
This gives advantages of immediate image preview and availability; elimination of 
costly film processing steps; a wider dynamic range, which makes it more forgiving
 for over- and under-exposure; as well as the ability to apply special image processing
 techniques that enhance overall display of the image.
</h4>
</p>
</div>

{% endblock content %}