{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
DIGITAL MAMMOGRAPHY</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Radiology | Digital Mammography</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/Digital_Mammography.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Mammography is a specific type of imaging that uses a system of low-dose x-rays 
to examine breasts. A mammography exam, called a mammogram, is used to assist
with the early detection and diagnosis of breast diseases, such as cancer, 
in women.
The latest Mammography system, with biopsy facilities, can detect sub-cent
imetre cancers of the breast. This state-of-the-art system has the ability
to calculate the dose of radiation for breasts with different densities 
and enables to detect small cancers long before they can be felt by the 
patient or the doctor thereby helping the patient receive minimum radiation
An X-ray is a form of electromagnetic radiation, just like visible light. 
The x-ray machine sends individual x-ray particles, called photons. 
These particles pass through the body and a computer or special film 
is used to record the images that are created.
Tell your doctor about any breast symptoms or problems, prior surgeries, 
hormone use, whether you have a family or personal history of breast cancer,
 and if there’s a possibility you are pregnant. If possible, obtain copies of
 your prior mammograms and make them available to your radiologist on the day
 of your exam. Leave jewelry at home and wear loose, comfortable clothing.
You may be asked to wear a gown. Don’t wear deodorant, talcum powder or 
lotion under your arms or on your breasts as these may appear on the
mammogram and interfere with correct diagnosis.
 </h4>
</p>
</div>

{% endblock content %}