{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
DUAL SOURCE CT</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | AboutUs  |  Overview</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/dual-source-CT.jpg'%}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
The most advanced LXi Hi-speed multislice CT Scan is capable of extremely fast imaging and can complete a whole abdominal study in
    one single breath hold. Advanced studies like peripheral angio,Renal angio,
    abdominal angio,Virtual colonoscopy,Foot angio,Brain angio with perfusion,All joints in 3d plane,
    virtual bronchoscopy and Angioscopy are easily accomplished on this very high end CT system. Non invasive Angiography of
    all the blood vessels and 3D reconstruction re routinely done.
    Our CT machine is designed to simplify the diagnosis of diseases in the heart, brain, lungs, joints and
    extremities. It acquires images of outstanding quality and detail, even imaging hearts of irregular beats at a very less radiation dose
    compared to other contemporary CT systems. It makes the procedures very simple without any complications.</h4>
</p>
</div>

{% endblock content %}
