{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
ECG</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | cardiology/Neurology| ECG</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/ecg.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
An Electrocardiogram (ECG) is a test that measures the electrical activity of the heartbeat.
With each heart beat, an electrical impulse (or "wave") travels through the heart. 
This wave then causes the muscle to squeeze and pump blood from the heart.
An Electrocardiogram (ECG) is a test that measures the electrical activity
of the heartbeat. With each heart beat, an electrical impulse (or "wave")
travels through the heart. This wave then causes the muscle to squeeze 
and pump blood from the heart.
An ECG (electrocardiogram) records the electrical activity of your heart at 
rest. It provides information about your heart rate and rhythm, and shows 
if there is enlargement of the heart due to high blood pressure (hypertension)
 or evidence of a previous heart attack (myocardial infarction). However,
 it does not show whether you have asymptomatic blockages in your heart
 arteries or predict your risk of a future heart attack. The resting ECG
 is different from a stress or exercise ECG or cardiac imaging test. You
 may need an ECG test if you have risk factors for heart disease such as
 high blood pressure, or symptoms such as palpitations or chest pain.
 Or you may need it if you already have heart disease. But in other
 cases, you may think twice about having this test. Here’s why:
 In some cases, it can be important to get this test. You should
 probably have an ECG if you have risk factors for an enlarged 
 heart such as high blood pressure or symptoms of heart disease,
 such as chest pain, shortness of breath, an irregular heartbeat
 or heavy heartbeats. You may need the test for screening or 
 occupational requirements, or if you have a personal or family 
 history of heart disease, diabetes or other risks and you want 
 to start exercising.


</h4>
</p>
</div>

{% endblock content %}