{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
ECHO CARDIOLOGY / DOPPLER</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Cardiology/Neurology | Echo Cardiology/Doppler</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static  'ds/Echo_cardiology.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
An echocardiogram (echo) is a graphic outline of the heart's movement. 
During an echo test, ultrasound (high-frequency sound waves) from a 
hand-held wand placed on your chest provides pictures of the heart's 
valves and chambers and helps the sonographer evaluate the pumping action 
of the heart. Echo is often combined with Doppler ultrasound and color 
Doppler to evaluate blood flow across the heart's valves.
An Echocardiogram uses sound waves to create images of your heart. This common test
enables your doctor or cardiologist to see how your heart is beating and pumping blood.
Echocardiogram images assist in identifying various abnormalities in the heart muscle 
and valves.The equipment at Elbit gives an online display of the heart condition on
the monitor. This enables imaging of heart tissues and vessels, showing their motion,
blood flow intensity and direction.
Assess the overall function of your heart.
Determine the presence of many types of heart disease, such as valve disease, myocardial disease, pericardial disease, infective endocarditis, cardiac masses and congenital heart disease
Follow the progress of valve disease over time.
Evaluate the effectiveness of your medical or surgical treatments.
<b>How will I feel during the test?</b>
You should feel no major discomfort during the test.
 You may feel a coolness on your skin from the gel 
 on the transducer, and a slight pressure of the 
 transducer on your chest.

<b>How long does the test take?</b>
The appointment will take about 40 minutes. After the test, 
you may get dressed and go home or go to your other scheduled appointments.

<b>How do I get the results of my test?</b>
After a cardiologist has reviewed your test, the results will
 be entered into your electronic medical record. Your physician
 will have access to the results and will discuss them with you.
</h4>
</p>
</div>

{% endblock content %}