{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
HAEMATOLOGY</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Laboratory Services | Haematology</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/haematology.jpg' %}" height="250px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Hematology is the study of blood and blood disorders. 
Hematologists and hematopathologists are highly trained
 healthcare providers who specialize in diseases of
 the blood and blood components. These include blood 
 and bone marrow cells. Hematological tests can help diagnose 
 anemia, infection, hemophilia, blood-clotting disorders,
 and leukemia.</br>
 A hematologist is usually a board-certified internist, or 
 pediatrician who has completed additional years of training
 in hematology. The hematologist generally focuses on direct
 patient care and diagnosing and managing hematologic disease,
 especially cancers.</br>
 A hematopathologist is usually board-certified in both anatomical 
 and clinical pathology and has additional years of training in 
 hematopathology. Hematopathology is not only the study of disease 
 of the blood and bone marrow. It is also the study of the organs 
 and tissues that use blood cells to perform their physiologic 
 functions. These include the lymph nodes, the spleen, thymus,
 and other lymphoid tissue</br>
<b>The lab is equipped with</b>
<ul type="none">
<li>1.D-Dimer & vWF assays on ELFA technology and G6PD assays</li>
<li>2.Abnormal Hemoglobin screening on HPLC machine - D-10.</li>
<li>3.Coagulation Factor assays on automated coagulometer.</li>
</ul>
<b>The laboratory has two levels of Quality control measures in the department.</b>
<ul type="none">
<li>1.ATCC strains are used for quality control.</li>
<li>2.Three level Internal Quality control measures with strict adherence to CLSI guidelines.</li>
<li>3.Inter Laboratory Quality Assurance Programs - ILQA.</li>
</ul>
</h4>
</p>
</div>
{% endblock content %}