{% load static %}

<div class="box">
        <div class="lure">

            <img src="{% static 'logp.jpg' %}"class="core" />
            <div class="head">
                <h2 >EASYPATHO DIAGNOSTIC SERVICES </h2>

            </div>


             <div class="nav nav-pills">
            <nav class="navbar navbar-expand-sm bg-success navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000"><span id="item" >HOME </span></a>
                    </li>

                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         <span id="item"> ABOUT US </span> </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://127.0.0.1:8000/ov/">Overview</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/vav/">Vision and Values </a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/qpo/">Quality Policy and  Objective</a>
                             <a class="dropdown-item" href="http://127.0.0.1:8000/eb/">Executive Board</a>
                             <a class="dropdown-item" href="http://127.0.0.1:8000/tt/">Technical Team</a>
                             <a class="dropdown-item" href="http://127.0.0.1:8000/sf/">Support and Facility</a>


                        </div>
                    </li>



                    <!-- Dropdown -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         <span id="item"> DIAGNOSTIC SERVICES </span> </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://127.0.0.1:8000/radiology/#">Radiology Services</a>
                            <ul class="dropdown-menu-right"></ul>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/cardiology/">Cardiology Services/Neurology Services </a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/laboratory/">Laboratory Services</a>

                        </div>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/hpp/"><span id="item" >HEALTH PACKAGES </span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                           <span id="item">CARRERS</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://127.0.0.1:8000/workculture/">workculture</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/currentopenings/">Current Openings</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/corporate/"><span id="item">CORPORATE HEALTH </span></a>
                    </li>

                 <li class="nav-item dropdown danger">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                             <span id="item">REGISTER</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://127.0.0.1:8000/register/">REGISTER</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/signin/">SIGNIN/SIGNUP</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/emp/">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <span id="item">EMPLOYEE LOGIN </span>
                        </a>
                    </li>

                </ul>
            </nav>
            </div>
         </div>
        </div>