{% load static %}
<html>

<head>
        <link rel="stylesheet" href="{% static 'pro.css' %}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
          <link href="{% static 'MDB/css/bootstrap.min.css'  %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
            <link href="{%  static 'MDB/css/mdb.min.css' %}" rel="stylesheet">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE = edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="{% static 'node_modules/jquery-clock-timepicker/jquery-clock-timepicker.min.js' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>




            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


    <style>
.blox{
     max-width:1500px;
            margin:0 auto;
}
        .container-fluid{

	background-color:white;
	width:100%;
	margin-top:0;

}

    </style>

</head>

    <body>
{% load static %}

<div class="blox">
        <div class="lure">

            <img src="{% static 'logp.jpg' %}" class="core" />
            <div class="head">
                <h2 >EASYPATHO DIAGNOSTIC SERVICES </h2>

            </div>


             <div class="nav nav-pills">
            <nav class="navbar navbar-expand-sm bg-success navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000"><span id="item" >HOME </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span id="item"> ABOUT US </span></a>
                    </li>

                    <!-- Dropdown -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         <span id="item"> DIAGNOSTIC SERVICES </span> </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://127.0.0.1:8000/radiology/#">Radiology Services</a>
                            <ul class="dropdown-menu-right"></ul>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/cardiology/">Cardiology Services/Neurology Services </a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/laboratory/">Laboratory Services</a>

                        </div>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000"><span id="item" >HEALTH PACKAGES </span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                           <span id="item">CARRERS</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Carrers</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/currentopenings/">Current Openings</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/corporate/"><span id="item">CORPORATE HEALTH </span></a>
                    </li>

                 <li class="nav-item dropdown danger">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                             <span id="item">REGISTER</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">REGISTER</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/signin/">SIGNIN/SIGNUP</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <span id="item">EMPLOYEE LOGIN </span>
                        </a>
                    </li>

                </ul>
            </nav>
            </div>
         </div>
        </div>
</div>
    <div>
        <div class="container-fluid" >
<div class="row">
<div class="col-md-6">
<!--<img src= "{%static 'doc.png' %}" height="122px" width="300px" align="right" >-->
</div>
</div>
<p><center>
<h2 style=" padding-top: 5px; padding-left:2px;font-family:Lucida Handwriting; color:black" >
    HEALTH PACKAGES</h2>
            <pre><b> <small style="font-size:14px; color:#AAA;">Home | </small><small style="font-size:14px; color:red;">Health Packages-Hyderabad</small></b></pre>
</center></p><br/>

</div>


        <div style="width:100%;">

           <div style="float:left; width:32%; height:50%">
 <table   class="table table-stripped" style="border-color:#41b91c; border-top: solid 1px #41b91c;border-bottom: solid 1px #41b91c; border-left:solid 1px #41b91c;border-right:solid 1px #41b91c;:  ">
               <th style="background-color:#41b91c;"><h3 style="padding-top:10px;">EASYPATHO MASTER HEALTH CHECKUP</h3></th>
                                           <tr style=" font-family:'Times New Roman';height:70px;background-color:#EEE">
                        <td align="center"><sup>PRICE:</sup><small style="font-size:22px">Rs.2500</small>.00<br>
    <small>special offer</small></td></tr>
                                          <tr><td>FASTING PLASMA GLUCOSE</td></tr>
                                          <tr><td>COMPLETE BLOOD PICTURE (CBP)</td></tr>
                                          <tr><td>ULTRA SOUND ABDOMEN</td></tr>
                                          <tr><td>PHYSICIAN CONSULTATION</td></tr>
                                          <tr><td>OPTHAMOLOGIST CONSULTATION</td></tr>
                                          <tr><td>DIETITIAN CONSULTATION</td></tr>
                                          <tr><td>COMPLETE URINE EXAMINATION (CUE)</td></tr>
                                          <tr><td>POST PRANDIAL PLASMA GLUCOSE</td></tr>
                                          <tr><td>E C G</td></tr>
                                          <tr><td>ERYTHROCYTE SEDIMENTATION RATE (ESR)</td></tr>
                                          <tr><td>DENTAL CONSULTATION</td></tr>
                                          <tr><td>BLOOD UREA NITROGEN (BUN)</td></tr>
                                          <tr><td>LFT-LIVER FUNCTION TEST</td></tr>
                                          <tr><td>HBS AG ELISA METHOD</td></tr>
                                          <tr><td>X-RAY CHEST PA VIEW</td></tr>
                                          <tr><td>LIPID PROFILE</td></tr>
                                          <tr><td>SERUM CREATININE</td></tr>

                </table>
           </div>
             <div style="float:left; width:32%; height:50%">
 <table   class="table table-stripped" style="border-color:#41b91c; border-top: solid 1px #41b91c;border-bottom: solid 1px #41b91c; border-left:solid 1px #41b91c;border-right:solid 1px #41b91c;:  ">
               <th style="background-color:#41b91c;"><h3 style="padding-top:10px;">EASYPATHO HEART CHECKUP</h3></th>
                    <tr style=" font-family:'Times New Roman';height:70px;background-color:#EEE">
                        <td align="center"><sup>PRICE:</sup><small style="font-size:22px">Rs.4500</small>.00<br>
    <small>special offer</small></td></tr>

                                          <tr><td>DENTAL CONSULTATION</td></tr>
                                  <tr><td>CONSULTATION WITH CARDIOLOGIST</td></tr>
                                  <tr><td>SERUM ELECTROLYTES</td></tr>
                                  <tr><td>COMPLETE URINE EXAMINATION (CUE)</td></tr>
                                  <tr><td>OPTHAMOLOGIST CONSULTATION</td></tr>
                                  <tr><td>TSH (THYROID STIMULATING HORMONE)</td></tr>
                                  <tr><td>POST PRANDIAL PLASMA GLUCOSE</td></tr>
                                  <tr><td>ECHO CARDIOGRAM</td></tr>
                                  <tr><td>SERUM CREATININE</td></tr>
                                  <tr><td>HOMOCYSTEINE</td></tr>
                                  <tr><td>DIETITIAN CONSULTATION</td></tr>
                                  <tr><td>BLOOD UREA</td></tr>
                                  <tr><td>FASTING PLASMA GLUCOSE</td></tr>
                                  <tr><td>ERYTHROCYTE SEDIMENTATION RATE (ESR)</td></tr>
                                  <tr><td>X-RAY CHEST PA VIEW</td></tr>
                                  <tr><td>LIPID PROFILE</td></tr>
                                  <tr><td>TMT(TREAD MILL STRESS TEST)</td></tr>
                                  <tr><td>COMPLETE BLOOD PICTURE (CBP)</td></tr>
                                  <tr><td>E C G</td></tr>

                </table>
           </div>
             <div style="float:left; width:32%; height:50%">

<table   class="table table-stripped" style="border-color:#41b91c; border-top: solid 1px #41b91c;border-bottom: solid 1px #41b91c; border-left:solid 1px #41b91c;border-right:solid 1px #41b91c;:  ">
               <th style="background-color:#41b91c;"><h3 style="padding-top:10px;">EASYPATHO COMPREHENSIVE HEALTH CHECKUP</h3></th>
                    <tr style=" font-family:'Times New Roman';height:70px;background-color:#EEE">
                       <td align="center"><sup>PRICE:</sup><small style="font-size:22px">Rs.3500</small>.00<br>
    <small>special offer</small></td></tr>
                                          <tr><td>LIPID PROFILE</td></tr>
                                  <tr><td>DIETITIAN CONSULTATION</td></tr>
                                  <tr><td>VDRL / RPR</td></tr>
                                  <tr><td>FASTING PLASMA GLUCOSE</td></tr>
                                  <tr><td>ECHO CARDIOGRAM</td></tr>
                                  <tr><td>DENTAL CONSULTATION</td></tr>
                                  <tr><td>HBS AG ELISA METHOD</td></tr>
                                  <tr><td>COMPLETE URINE EXAMINATION (CUE)</td></tr>
                                  <tr><td>POST PRANDIAL PLASMA GLUCOSE</td></tr>
                                  <tr><td>SERUM CREATININE</td></tr>
                                  <tr><td>GLYCATED HEMOGLOBIN  (HBA1C)</td></tr>
                                  <tr><td>SERUM GAMMA GT</td></tr>
                                  <tr><td>BLOOD UREA</td></tr>
                                  <tr><td>X-RAY CHEST PA VIEW</td></tr>
                                  <tr><td>THYROID PROFILE   ( T3, T4, TSH )</td></tr>
                                  <tr><td>ULTRA SOUND ABDOMEN</td></tr>
                                  <tr><td>LFT-LIVER FUNCTION TEST</td></tr>
                                  <tr><td>E C G</td></tr>
                                  <tr><td>OPTHAMOLOGIST CONSULTATION</td></tr>
                                  <tr><td>TMT(TREAD MILL STRESS TEST)</td></tr>
                                  <tr><td>COMPLETE BLOOD PICTURE (CBP)</td></tr>
                                  <tr><td>STOOL ROUTINE EXAMINATION</td></tr>
                                  <tr><td>PHYSICIAN CONSULTATION</td></tr>
                                  <tr><td>ERYTHROCYTE SEDIMENTATION RATE (ESR)</td></tr>
                </table>
           </div>

        </div>
    </div>

    </body>

</html>