{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
HISTOPATHOLOGY</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Laboratory Services | Histopathology</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/histopathology.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Specifically, in clinical medicine, histopathology refers to the
 examination of a biopsy or surgical specimen by a pathologist, 
 after the specimen has been processed and histological sections
 have been placed onto glass slides.
Histopathology (or histology) involves the examination of sampled 
whole tissues under the microscope. Three main types of specimen
 are received by the pathology laboratory. ... This type of material 
 is usually liquid rather than solid, and is submitted for cytology
 rather than histology (see Cytopathology).<br/>
Histological Techniques. In order to study tissues with a 
microscope they must be preserved (fixed) and cut into sections
 thin enough to be translucent. The process of fixation is briefly
 described in the next section. ... Following fixation, blocks of
 tissue must be cut into thin sections.
</br>
<b>The lab is equipped with</b>
<ol type="1">
<li>1.In-house processing of histopathology samples.</li>
<li>2.In-House facility for Tru-cut biopsies.</li>
<li>3.Special stains - PAS, Alcian Blue, Methenamine Silver stain, Perl's stain, Congo Red stain.</li>
<li>4.Faster TAT.</li>
</ol>
<b>The laboratory has two levels of Quality control measures in the department.</b>
<ol>
<li>1.Two level Internal Quality control samples run with every batch of stains.</li>
<li>2.Inter Laboratory Quality Assurance Programs - ILQA.</li>
<li>3.Regular Internal audits to monitor out of control situations.</li>
</ol>
</h4>
</p>
</div>
{% endblock content %}