{% extends "master.html" %}

{% block content %}

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th></th>
          <th>LABORATORY SERVICES</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
          <td></td>
        <td> <a href="http://127.0.0.1:8000/cb/">CLINICAL BIOCHEMISTRY </a></td>
      <td></td>
      </tr>

      <tr class="table-danger">
           <td></td>
        <td><a href="http://127.0.0.1:8000/pac/">PATHOLOGY AND CRYTOPATHOLOGY</a> </td>
          <td></td>
      </tr>
      <tr class="table-info">
          <td></td>
        <td><a href="http://127.0.0.1:8000/ser/">SEROLOGY AND MICROBIOLOGY</a> </td>
          <td></td>
      </tr>
      <tr class="table-warning">
          <td></td>
        <td><a href="http://127.0.0.1:8000/haem/"> HAEMATOLOGY </a>  </td>
          <td></td>
      </tr>
      <tr class="table-active">
          <td></td>
        <td> <a href="http://127.0.0.1:8000/md/">MOLECULAR DIAGNOSTIC  </a></td>
          <td></td>
      </tr>
      <tr class="table-secondary">
          <td></td>
        <td><a href="http://127.0.0.1:8000/hisp/">HISTOPATHOLOGY </a> </td>
          <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}