{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
HAEMATOLOGY</h2>
</p><br/>
<h4 style="padding:10px; color:white"> Home | Cardiology/Neurology | Hematology</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/haematology.jpg' %}" height="200px" width="400px" align="middle" style="padding-right:5px; padding-top:2px">
</div>
</div><br/>
<div class="row">
<div class="col-md-12">
<p>
<h4>
<b>The lab is equipped with</b>
<ul>
<li>1.D-Dimer & vWF assays on ELFA technology and G6PD assays</li>
<li>2.Abnormal Hemoglobin screening on HPLC machine - D-10.</li>
<li>3.Coagulation Factor assays on automated coagulometer.</li>
</ul>
<b>The laboratory has two levels of Quality control measures in the department.</b>
<ul>
<li>1.ATCC strains are used for quality control.</li>
<li>2.Three level Internal Quality control measures with strict adherence to CLSI guidelines.</li>
<li>3.Inter Laboratory Quality Assurance Programs - ILQA.</li>
</ul>
</h4>
</p>
</div>
</div>
</div>
{% endblock content %}