{% load static %}

<!DOCTYPE html>
        <title> EASYPATHO DS</title>
        <head>
        <link rel="stylesheet" href="{% static 'pro.css' %}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
          <link href="{% static 'MDB/css/bootstrap.min.css'  %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
            <link href="{%  static 'MDB/css/mdb.min.css' %}" rel="stylesheet">
            <link href="{% static 'ds/mypro.css' %}" rel="stylesheet"/>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE = edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="{% static 'node_modules/jquery-clock-timepicker/jquery-clock-timepicker.min.js' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>




            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>



</head>
<body>
<div>
{%  include "header.html" %}
</div>

 {%  block content %}

 {%  endblock content %}



{%  include "footer.html" %}

 </body>