{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
MOLECULAR DIAGNOSTIC</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Laboratory Services | Molecular Diagnostic</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/molecular.jpg' %}" height="250px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Molecular diagnostics is a collection of techniques used to analyse
 biological markers in the genome and proteome—the individual's 
 genetic code and how their cells express their genes as proteins—by
 applying molecular biology to medical testing.</br>
Genomic Diagnostics is a reference laboratory within Australia 
offering genetic testing globally. ... Genomic Diagnostics
 accept either cheek swabs, peripheral blood specimens or
 extracted DNA for hereditary tests accompanied by a Test
 Request Form from a health professional.</br>
Polymerase chain reaction (PCR) is a technique used in 
molecular biology to amplify a single copy or a few 
copies of a segment of DNA across several orders of
 magnitude, generating thousands to millions of copies 
 of a particular DNA sequence.</br>
 Molecular pathology is an emerging discipline within pathology
 which is focused in the study and diagnosis of disease through
 the examination of molecules within organs, tissues or bodily fluids.
  molecular biology for qualitatively assessing or quantitatively 
  measuring the presence, amount, or functional activity of a
  target entity (the analyte).</br>
<b>The lab is equipped with</b>
<ol type="1">
<li>1.Real time PCR and Flow cytometry sections.</li>
<li>2.CD counts and HLA B27 assays available.</li>
<li>3.Accredited by NABL.</li>
</ol>
<b>The laboratory has two levels of Quality control measures in the department.</b>
<ol>
<li>1.Standards and calibrators run with every batch of assay.</li>
<li>2.Two level Internal Quality control samples run with every batch.</li>
<li>3.Inter Laboratory Quality Assurance Programs - ILQA.</li>
<li>4.Regular Internal audits to monitor out of control situations.
</h4>
</p>
</div>
{% endblock content %}