{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-12">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
PATHOLOGY & CYTOPATHOLOGY</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Laboratory Services  | Pathology & Cytopathology</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/images.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Cytology is the study of individual cells and cytopathology is the study of 
individual cells in disease. Sampled fluid/ tissue from a patient is smeared
 onto a slide and stained (see techniques). This is then examined under the
 microscope by the anatomical pathologist to look at the number of cells on
 the slide, what types of cells they are, how they are grouped together and
 what the cell details are (shape, size, nucleus etc). This information is 
 useful in determining whether a disease is present and what is the likely diagnosis.

Cytology is most often used as a screening tool to look for disease and to 
decide whether or not more tests need to be performed. An example of screening
 would be the investigation of a breast lump. In combination with examination by
 the clinician and imaging tests, a needle aspirate of the lump submitted for cytology
 will show whether the breast cells are suspicious for cancer or look bland/ benign.
 If they look suspicious, a core biopsy with a larger needle may be performed which
 takes more tissue, allowing for a definitive diagnosis to be made before deciding 
 what type of surgery is required (local removal of the lump or removal of the whole breast).
 

Sampling techniques in cytology
Exfoliative cytology
This is the analysis of cells that are shed from body surfaces. Examples include the lining cells of the uterine cervix (mouth of the womb) and of the bladder. The analysis of cells from the cervix is a minimally invasive procedure called a cervical or Papanicolaou smear (Pap smear). This involves the insertion of a speculum into the vagina to allow the clinician to directly view the cervix. The cervix is then gently scraped to retrieve cervical cells which are smeared directly onto glass slides at the bedside and submitted to a laboratory for examination. The material from the cervical scrape can also be directly tested for wart virus (Human Papilloma Virus), the major risk factor for the development of cervical cancer.

</h4>
</p>
</div>

{% endblock content %}