{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
SEROLOGY & MICROBIOLOGY</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Laboratory Services  | Serology & Microbiology</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{%static 'ds/Microbiology.jpg'  %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
AIMS--To determine how the microbiology laboratories of one region process serological 
requests from patients with suspected infectious illness, referred to as "clinical 
syndrome" type patients in this study; to consider areas where improvement in the
 associated serology service could be made. METHODS--A prospective two month collection 
 of data on all serological requests from patients with suspected infectious illness was
 undertaken. A questionnaire on laboratory policies/procedures was also completed by the
 10 departments taking part. RESULTS--Serology specimens from "clinical syndrome" patients
 accounted for 1-2% of total microbiology samples. </br>
<b>The lab is equipped with</b>
<ul>
<li>1.Automated ELISA system for almost about 50 different ELISAs.</li>
<li>2.Automated culture, identification and sensitivity system for aerobic and anerobic bacteria.</li>
<li>3.Automated Culture system for Blood.</li>
<li>4.Immunofluorescence technology for autoimmune diseases.</li>
<li>5.Special tests such as Westernblot for HIV, Quantiferon TB gold test, ANA profile.</li>
<li>6.Complete Allergy panel for food and inhalation allergens.</li>
</ul>
<b>The laboratory has two levels of Quality control measures in the department.</b>
<ul>
<li>1.ATCC strains are used for quality control.</li>
<li>2.Three level Internal Quality control measures with strict adherence to CLSI guidelines.</li>
<li>3.Inter Laboratory Quality Assurance Programs - ILQA.</li>
</ul>
</h4>
</p>
</div>

{% endblock content %}