{% extends "master.html" %}
{% block content %}
    <br>
   <div class="block">
<div class="login-wrap">
	<div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>


		<div class="login-form">
			<div class="sign-in-htm">
                <form method="POST">
                    {% csrf_token %}
             <input type="hidden" name="form_type" value="formOne">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" name="siname">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" name="sipass">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" name="login">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#">Forgot Password?</a>
				</div>
            </form>
			</div>

			<div class="sign-up-htm">
                     <form method="POST">
                        {% csrf_token %}
                         <input type="hidden" name="form_type" value="formTwo">
                <div class="group">
					<label for="uid" class="label">UniqueId</label>
					<input id="uid" type="number" class="input" name="suid">
				</div>
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" name="suname">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" name="spass">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="password" name="srpass">
				</div>

				<div class="group">
					<input type="submit" class="button" value="Sign Up" name="signup">
				</div>
                     </form>
			</div>
		</div>

	</div>
</div>
       </div>
{% endblock content %}