{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
TMT(TREAD MILL TEST)</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Cardiology/Neurology | TMT(TREAD MILL TEST)</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/TMT.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
A stress test, often times called a treadmill test or exercise test, helps
a doctor find out how well your heart handles work. As your body works 
harder during the test, it requires more oxygen and in effect the heart
must pump more blood. The test can show if blood supply is reduced in
the arteries that supply the heart.
Treadmill test (TMT) or exercise stress test is one of the commonest 
forms of stress tests used to induce provokable myocardial ischemia 
for diagnostic evaluation of coronary artery disease. The Tread Mill 
test is conducted on an extra long treadmill to provide an extra
margin of safety to patients. Its smooth and silent operation 
facilitates accurate blood pressure measurements even at high 
workloads. The variable speed range permits diagnosing of patients
with varied health backgrounds
</h4>
</p>
</div>

{% endblock content %}