{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="container-fluid"  >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/1.jpg' %}" height="122px" width="300px" align="right" >
</div>
</div>
<p>
<h2 style="padding-top:20px; padding-left:2px;font-family:Lucida Handwriting; color:white">
ULTRASOUND SCAN WITH 3-D AND 4-D IMAGING</h2>
</p><br/>
<h4 style="padding:10px; color:white">Home | Radiology Service | Ultrasound Scan</h4>
</div>
<div class="container1-fluid" >
<div class="row">
<div class="col-md-6">
<img src="{% static 'ds/ultrasound.jpg' %}" height="300px" width="400px" align="left" style="padding-right:5px; padding-top:2px">
</div>
</div>
<p>
<h4>
Ultrasound or sonography, involves exposing part of the body to high-frequency 
sound waves to produce pictures of the inside of the body. Ultrasound exams do 
not use ionizing radiation (as used in x-rays). Ultrasound images are captured 
in real-time and can show the structure and movement of the body's internal    
organs, as well as blood flowing through blood vessels.
At Elbit the very high resolution computerized Sonography system, Logiq &, is
a first in Andhra Pradesh. Apart form routine imaging, it is possible to co-
nduct a Colour Doppler study called B-Flow Angiography to examine the blood
vessel abnormality, which can be missed even by Catherter Angiopraphy.
Biopsy of the prostrate gland using computer coordinates and biopsy
attachment to the probe helps to accurately take the right specimen 
from an abnormality as small as 1 cam.
Ultrasound scanning is an important clinical tool in providing images of
 internal fetal anatomy. It is also called sonography because it uses
 high-frequency sound waves to produce images of slices through the body.
 A transducer or probe which emits ultrasound waves is placed on the skin 
 after coating it with a thin layer of conductive gel, to make sure the
 waves pass smoothly through the skin. The emitted ultrasound waves are
 reflected by different structures encountered by the waves. The strength 
 of the reflected waves, and the time they take to return, form the basis
 for interpreting the information into a visible image. This is performed
 by computer software.
</h4>
</p>
</div>
{% endblock content %}